*{padding: 0px;
    margin: 0px;
}
body{
    margin: 0px 450px;
}
header div nav a img{
    display: block;
}

header div nav a img{
    height: 50px;
}

header nav ul{
    background-color: rgb(41, 190, 190);
}
header ul a li{
    color: rgb(39, 39, 202);
    text-transform:uppercase;
    display: inline-block;
    padding: 10px 0px;
    text-decoration:underline;
    font-weight: 500;
}
header nav .social h1{
    margin: 15px 0px;
    text-transform:capitalize;
    display: inline-block;
}
header nav .social a img{
    float: right;
    padding: 30px 0px 0px 0px;
    height: 32px;
}

section div img{
  width: 24.6%;
  height: 24%;
}

aside{
    width: 20%;
    float: left;
    margin: 15px 0px;
}
aside input, legend {
    margin-bottom: 18px;
    
}


main{
    width: 70%;
    float: right;
    padding: 10px 40px ;
    margin-bottom: 35px;
}
main ul li{
    margin-left: 45px
}
main img {
    width: 100%;
    margin: 20px 0px;
}
main span p{
    padding: 0px 25px;
    
}


footer{
    padding: 15px 0px;
    width: 100%;
    display: inline-block;
    background-color: rgb(44, 197, 197);
}

footer div{
    display: inline;
    width: 30%;
}
footer div.first{
    margin: 10px 0px 0px 10px;
    float: left;
}
footer div.second{
    margin: 10px 0px 0px 45px;
    float: left;
}
footer div.third{
    float: right;
}






